/* Formata container de conteúdo */
.content main {

    --imagemAltura: 350px;
    --imagemAlturaHover: 20px;
    --legendaPadding: 15px;
    --iconeAltura: 18px;
    --iconeAlturaHover: 4px;
    --transicaoTempo: 200ms;

    max-width: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* Configura os cabeçalhos */
    h1,
    h2,
    h3,
    h4 {
        text-align: center;
        width: 100%;
    }

    /* Configura os blockquotes */
    >blockquote {
        border-left: 0px;
        border-radius: var(--border-radius);
        text-align: center;
        width: 100%;
    }

    /* Configura parágrafo como container de imagens */
    >p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;

        /* Configura elementos de ênfase como legendas */
        em {
            display: block;
            box-sizing: border-box;
            border-radius: calc(var(--border-radius) - 1px);

            width: 100%;
            padding: var(--legendaPadding);

            text-align: center;
            font-style: normal;
        }

        /* Configura ícones para link do Insta e Bsky */
        a[href*="instagram.com"]:empty,
        a[href*="bsky.app"]:empty {
            display: inline-block;
            width: var(--iconeAltura);
            height: var(--iconeAltura);
            padding: calc(var(--iconeAlturaHover) / 2);
            margin: calc(var(--iconeAlturaHover) / 2);

            background-size: contain;
            background-repeat: no-repeat;
            background-origin: content-box;
            transition: var(--transicaoTempo) ease;

            /* Aumentar ícones quando passar mouse */
            &:hover {
                width: calc(var(--iconeAltura) + var(--iconeAlturaHover));
                height: calc(var(--iconeAltura) + var(--iconeAlturaHover));
                padding: 0px;
            }

            /* Definir imagem para Instagram */
            &[href*="instagram.com"] {
                background-image: url(/_sysfiles/imgs/instagram.png);

                &:hover {
                    background-image: url(/_sysfiles/imgs/instagram-hover.png);
                }
            }

            /* Definir imagem para Bluesky */
            &[href*="bsky.app"] {
                background-image: url(/_sysfiles/imgs/bsky.png);

                &:hover {
                    background-image: url(/_sysfiles/imgs/bsky-hover.png);
                }
            }
        }
    }

    /* Configura container de imagens quando não está em tela cheia */
    >p:not(.isFullscreen) {
        height: var(--imagemAltura);
        margin: calc(var(--imagemAlturaHover) / 2);
        padding: calc(var(--imagemAlturaHover) / 2);
        transition: var(--transicaoTempo) ease;

        border-radius: var(--border-radius);
        background: var(--bg);
        position: relative;

        /* Aumentar container quando mouse passar por cima */
        &:hover {
            padding: 0px;
        }

        /* Configura imagem para ocupar todo o bloco */
        img,
        video {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }

        /* Impede videos de reproduzirem quando fora de tela cheia */
        video {
            pointer-events: none;
        }

        /* Cria luminosidade ao sobrepor mouse */
        &:hover img,
        &:hover video {
            filter: drop-shadow(0 0 10px var(--inactive))
        }

        /* Configurar legenda */
        em {
            position: absolute;
            left: calc(var(--legendaPadding) / 2);
            bottom: calc(var(--legendaPadding) / 2);

            width: calc(100% - var(--legendaPadding));
            opacity: 0%;
            background: var(--bg);
            transition: var(--transicaoTempo) ease;
        }

        /* Exibir legenda somente quando mouse passar por cima */
        &:hover em {
            opacity: 90%;
        }

        /* Adapta container para mobile */
        @media (max-width: 600px) {
            width: 100% !important;
            height: unset !important;
            
            em {
                display: none;
            }
        }
    }

    /* Configura container de imagens quando está em tela cheia */
    >p.isFullscreen {

        position: fixed;
        inset: 0;
        z-index: 1000;

        width: 100vw;
        height: 100vh;
        box-sizing: border-box;

        margin: 0;
        padding: 10px;
        background: #18091acc;
        transition: 300ms ease;
        opacity: 0%;

        /* Adiciona um X no canto */
        .close {
            font-size: 30px;
            cursor: pointer;

            position: absolute;
            top: 30px;
            right: 30px;
        }

        /* Formata as imagens e videos */
        img,
        video {
            width: 100%;
            max-height: 80vh;
            object-fit: contain;
            border-radius: 0;
        }
    }
}

/* Remove setas de passar página */
.nav-wide-wrapper {
    display: none;
}