:root {
    --fontWeigth: {{fontWeigth}};
    --fontColor: {{fontColor}};
    --fontSize: {{fontSize}}px;
    --googleFont: '{{googleFont}}';
    --textAlign: {{textAlign}};
    --lineHeight: {{lineHeight}};
    --strokeSize: {{strokeSize}};
    --strokeColor: {{strokeColor}};
}

@font-face {
    font-family: customFont;
    src: url("{{customFontLink}}")
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: calc(var(--strokeSize) * var(--fontSize) * 0.005);

    font-size: var(--fontSize);
    font-family: var(--googleFont);
    line-height: var(--lineHeight);
    text-align: var(--textAlign);
    font-weight: var(--fontWeigth);
    color: var(--fontColor);

    background: none;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0;

    &::placeholder {
        color: var(--fontColor);
        opacity: 100%!important;
    }

    &#main {
        z-index: 10;
    }

    &#border {
        z-index: 1;
        text-shadow: 
            calc(var(--strokeSize) * var(--fontSize) * -0.005) calc(var(--strokeSize) * var(--fontSize) * -0.005) 0 var(--strokeColor),
            0 calc(var(--strokeSize) * var(--fontSize) * -0.005) 0 var(--strokeColor),
            calc(var(--strokeSize) * var(--fontSize) * 0.005) calc(var(--strokeSize) * var(--fontSize) * -0.005) 0 var(--strokeColor),
            calc(var(--strokeSize) * var(--fontSize) * 0.005) 0 0 var(--strokeColor),
            calc(var(--strokeSize) * var(--fontSize) * 0.005) calc(var(--strokeSize) * var(--fontSize) * 0.005) 0 var(--strokeColor),
            0 calc(var(--strokeSize) * var(--fontSize) * 0.005) 0 var(--strokeColor),
            calc(var(--strokeSize) * var(--fontSize) * -0.005) calc(var(--strokeSize) * var(--fontSize) * 0.005) 0 var(--strokeColor),
            calc(var(--strokeSize) * var(--fontSize) * -0.005) 0 0 var(--strokeColor);
    }
}

body[data-customFontCheckbox="true"] textarea {
    font-family: customFont;
}

body[data-italic="true"] textarea {
    font-style: italic;
}

body[data-strokeSize="0"] #border {
    display: none;
}