
/* Globals */

:root {
    --sidebar-width: 300px;
    --sidebar-resize-indicator-width: 8px;
    --sidebar-resize-indicator-space: 2px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
    --mono-font: "Ubuntu Mono", Consolas, Menlo, "DejaVu Sans Mono", monospace, monospace;
    --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */

.ayu,
.coal,
.light,
.navy,
.rust {

    --border-radius: 15px;

    --bg: #1b0729;
    --bg2: #321446;
    --fg: #c8bfce;  

    --active: #00E68B;
    --inactive: #7b618d;

    --note: #d682f5;
    --warning: #ff8e00;
    --important: #00E68B;

    --logo: url(/theme-imgs/logo.png);


    --sidebar-fg: var(--fg);
    --sidebar-bg: var(--bg2);
    --sidebar-non-existant: var(--inactive);
    --sidebar-active: var(--active);
    --sidebar-spacer: var(--inactive);

    --scrollbar: var(--fg);

    --icons: var(--inactive);
    --icons-hover: var(--active);

    --links: var(--active);

    --inline-code-color: var(--fg);

    --theme-popup-bg: var(--bg2);
    --theme-popup-border: var(--inactive);
    --theme-hover: var(--inactive);

    --quote-bg: var(--bg2);
    --quote-border: transparent;

    --table-border-color: var(--inactive);
    --table-header-bg: var(--fg);
    --table-header-fg: var(--bg);
    --table-alternate-bg: var(--bg2);

    --searchbar-border-color: var(--fg);
    --searchbar-bg: var(--bg);
    --searchbar-fg: var(--fg);
    --searchbar-shadow-color: transparent;
    --searchresults-header-fg: var(--fg);
    --searchresults-border-color: transparent;
    --searchresults-li-bg: var(--quote-bg);
    --search-mark-bg: var(--note);

    --color-scheme: dark;
}